doctype html
html
  head
    title
      block title
        | Default Title
    block head
  body
    block header
      header
        | Default Header
    block content
    block footer
      footer
        | Default Footer
