doctype html
html
  head
    title
      block title
        | Root Title
  body
    block header
      header
        | Root Header
    block content
      | Root default content
    block footer
      footer
        | Root Footer
