extends base

block title
  | Full Override

block head
  meta(name="description" content="Full override page")

block header
  header
    | Custom Header

block content
  main
    p Full override content

block footer
  footer
    | Custom Footer
