a(href="https://pugjs.org", target="_blank") Pug website
input(type="text", name="q", placeholder="Search…")
input(type="checkbox", checked)
input(type="checkbox", checked=false)
button(disabled) Can't click me
div(data!="<em>unescaped</em>") Unescaped attribute value
