img(src="https://placehold.co/120x60", alt="placeholder")
br
hr
input(type="hidden", name="token", value="abc123")
link(rel="stylesheet", href="/app.css")
meta(name="description", content="Go-Pug demo")
