// This is an HTML comment.
//- This unbuffered comment is invisible in the output.
p Between comments.
//
  Multi-line HTML comment.
  Second line of the comment.
//-
  Multi-line unbuffered comment.
  Also invisible in output.
p After comments.
