doctype html
html(lang="en")
  head
    include _meta.pug
    title Includes Demo
  body
    include _nav.pug
    main
      h1 Welcome
      p This page was assembled from included partials.
    include _footer.pug
